# {{ ansible_managed }}
# FGCI arc.conf 


[common]

hostname="{{ fqdn }}"
lrms="SLURM"
LRMSName="SLURM"
slurm_wakeupperiod="{{ slurm_wakeupperiod }}"
globus_tcp_port_range="{{ globus_tcp_port_range }}"
globus_udp_port_range="{{ globus_udp_port_range }}"
x509_user_key="{{ x509_user_key }}"
x509_user_cert="{{ x509_user_cert }}"
x509_cert_dir="{{ x509_cert_dir }}"
gridmap="{{ gridmap }}"
voms_processing="strict"
voms_trust_chains = "
       /O=Grid/O=NorduGrid/CN=host/voms.fgi.csc.fi
       /O=Grid/O=NorduGrid/CN=NorduGrid Certification Authority
       ----NEXT CHAIN---
       /DC=ch/DC=cern/OU=computers/CN=lcg-voms.cern.ch
       /DC=ch/DC=cern/CN=CERN Trusted Certification Authority
       ----NEXT CHAIN---
       /DC=ch/DC=cern/OU=computers/CN=voms.cern.ch
       /DC=ch/DC=cern/CN=CERN Trusted Certification Authority
       ----NEXT CHAIN---
       /DC=ch/DC=cern/OU=computers/CN=lcg-voms2.cern.ch
       /DC=ch/DC=cern/CN=CERN Grid Certification Authority
       ----NEXT CHAIN---
       /DC=ch/DC=cern/OU=computers/CN=voms2.cern.ch
       /DC=ch/DC=cern/CN=CERN Grid Certification Authority
 "


[vo]

id="egiops"
vo="ops"
file="/etc/grid-security/grid-mapfile"
source="vomss://voms2.cern.ch:8443/voms/ops"
require_issuerdn="yes"
mapped_unixid="gridnull"


[vo]

id="fgi_1"
vo="fgi.csc.fi"
file="/etc/grid-security/grid-mapfile"
source="vomss://voms.fgi.csc.fi:8443/voms/fgi.csc.fi"
mapped_unixid="gridnull"
require_issuerdn="yes"


[group]

[group/users]

name="users"
vo="fgi.csc.fi"
[group/ops]
name="ops"
voms="ops * * *"


[group/novoms]

name="novoms"


file="/etc/grid-security/grid-mapfile"

[grid-manager]

controldir="{{ controldir }}"
sessiondir="{{ sessiondir }}"
runtimedir="{{ runtimedir }}"
shared_scratch="{{ shared_scratch }}"

cachedir="{{ cachedir }}"
cachesize="{{ cachesize }}"
cachelifetime="{{ cachelifetime }}"

jobreport_logfile="/var/log/arc/jura.log"
jobreport="https://pulse.fgi.csc.fi:6143/sgas"
jobreport="APEL:https://mq.cro-ngi.hr:6162"
jobreport_publisher="jura"
jobreport_credentials="{{ x509_user_key }} {{ x509_user_cert }} {{ x509_cert_dir }}"
jobreport_period="86400" 
jobreport_options="urbatch:100,archiving:/var/spool/nordugrid/jura,topic:/queue/global.accounting.cpu.central,gocdb_name:{{ gocDBName }},benchmark_type:HEPSPEC,benchmark_value:15.8,benchmark_description:HS06,use_ssl:true,vomsless_vo:{{ voName }}"

logsize="{{ logsize }}"
shared_filesystem="{{ shared_filesystem }}"
mail="{{ adminMailAddr }}"
joblog="{{ joblog }}"
maxjobs="{{ maxjobs }}"
wakeupperiod="{{ wakeupperiod }}"
defaultttl="{{ defaultttl }}"
authplugin="{{ authplugin }}"
arex_mount_point="{{ arex_mount_point }}"
maxtransfertries="{{ maxtransfertries }}"


[gridftpd]

debug="5"
logsize="1000000 52"
user="root"
encryption="yes"
unixgroup="ops simplepool {{ unixgroup_dir_ops }}"
unixgroup="users simplepool {{ unixgroup_dir_fgi }}"
unixgroup="novoms simplepool {{ unixgroup_dir_fgi }}"


[gridftpd/jobs]

path="/jobs"
plugin="jobplugin.so"
allownew="yes"
maxjobdesc="5242880"


[infosys]

port="2135"
timelimit="1800"
registrationlog="/var/log/arc/inforegistration.log"
providerlog="/var/log/arc/infoprovider.log"
provider_loglevel="2"
infosys_nordugrid="enable"
infosys_glue12="enable"
infosys_glue2_ldap="enable"
ttl=200


[infosys/admindomain]

name="{{ infoSysAdminDomain }}"
ttl=190


[infosys/glue12]

resource_location="{{ resource_location }}"
resource_latitude="{{ resource_latitude }}"
resource_longitude="{{ resource_longitude }}"
cpu_scaling_reference_si00="3940"
processor_other_description="Cores=12,Benchmark=15.8-HEP-SPEC06"
glue_site_web="{{ instSiteURL }}"
glue_site_unique_id="{{ gocDBName }}"
provide_glue_site_info="false"


[infosys/cluster/registration/fgigiis2]

targethostname=giis2.fgi.csc.fi
targetport="2135"
targetsuffix="mds-vo-name=Finland,o=grid"
regperiod="300"
registranthostname="{{ fqdn }}"
registrantport="2135"


[infosys/cluster/registration/fgigiis1]

targethostname=giis1.fgi.csc.fi
targetport="2135"
targetsuffix="mds-vo-name=Finland,o=grid"
registranthostname="{{ fqdn }}"
regperiod="300"
registrantport="2135"


[cluster]

cluster_alias="{{ siteName }} (FGCI)"
comment="FGCI cluster"
cluster_location="{{ resource_location }}"
cluster_owner="{{ gocDBName }}"
authorizedvo="{{ voName }}"
authorizedvo="ops"
nodeaccess="outbound"
clustersupport="{{ adminMailAddr }}"
architecture="adotf"
defaultmemory="1024"
opsys="CentOS"
benchmark="SPECINT2000  3940"
benchmark="HEPSPEC2006 15.8"
nodecpu="Intel(R) Xeon(R) CPU E5-2680 v3 @ 2.50GHz"


[queue/normal]

name="normal"
comment="Normal queue"
nodecpu="Intel(R) Xeon(R) CPU E5-2680 v3 @ 2.50GHz"
nodememory="128000"
benchmark="SPECINT2000 3940"
benchmark="HEPSPEC2006 15.8"
benchmark="SPECFP2000 333"

[queue/grid]

name="grid"
comment="Grid queue"
nodecpu="Intel(R) Xeon(R) CPU E5-2680 v3 @ 2.50GHz"
nodememory="128000"
benchmark="SPECINT2000 3940"
benchmark="HEPSPEC2006 15.8"
benchmark="SPECFP2000 333"
